.section {

	&__background {

		&--grayed {
			background-color: var(--c-gray);
		}

		&--gradient-left {
			background: var(--c-white);
			background: linear-gradient(90deg, var(--c-white) 0%, var(--c-cream) 100%);
		}

		&--gradient-right {
			background: var(--c-white);
			background: linear-gradient(-90deg, var(--c-white) 0%, var(--c-cream) 100%);
		}
	}
}
