/*
 * Colors
 * Use theme.json to establish colors
 * https://developer.wordpress.org/block-editor/developers/themes/theme-json/
 * This file can be used to establish color overrides
 * or exceptions to the theme.json use case
 */

:root {
	// Site Colours
	--c-primary: #f0f0f0;
	--c-primary-text: #1d150d;
	--c-accent: #f1f314;
	--c-white: #fff;
	--c-real-dark: #000;
	--c-gray: #ccc;
	--c-gray-dark: #333;
	--c-cream: #f4eee7;
	--c-clay: #b15838;
	--c-clay-lighter: #c06442;
	--c-cream-lighter: #d8d3ce;
	--c-cream-darker: #c2b6a9;

	// Buttons
	--c-button-primary: var(--c-clay);
	--c-button-primary-hover: var(--c-clay-lighter);
	--c-button-primary-text: #fff;

	// Header 
	--c-header-background: var(--c-clay);
}
